modify:
{
	match:
	{
		"targetname" "Map_Text"
		"classname" "game_text"
	}
	replace:
	{
		"channel" "5"
	}
}
;fix delay spot for humans on lvl 1 outside of wall after elevator leaves
add:
{
	"classname" "trigger_teleport"
	"origin" "7664 7552 -10432"
	"targetname" "rename_me"
	"target" "TD_Wall_Giant"
	"StartDisabled" "1"
	"spawnflags" "1"
}
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "rename_meAddOutputsolid 20.5-1"
		"OnMapSpawn" "rename_meAddOutputmins -3152 -384 -27521-1"
		"OnMapSpawn" "rename_meAddOutputmaxs 3152 384 27521-1"
		"OnMapSpawn" "rename_meAddOutputtargetname Wall_Teleport_Top1.5-1"
	}
}
// 神器隐身
modify:
{
	match:
	{
		"classname" "weapon_elite"
	}
	insert:
	{
		"OnPlayerPickup" "load_scriptRunscriptcodeSetNewOwner();0-1"
	}
}
add:
{
	"targetname" "load_script"
	"classname" "logic_relay"
	"vscripts" "why/hide_owner.nut"
	connections
	{
		"OnSpawn" "!selfRunscriptCodeClearPlayerHide()0-1"
		"OnSpawn" "!selfRunscriptCodeAUTO_HIDE=true;HIDE_ALPHA=20;0-1"
	}
}
