;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|    by Małgo 
;---------------------------------------------------------------
;STRIPPER CFG BY MAŁGO https://steamcommunity.com/profiles/76561197992553990/
;---------------------------------------------------------------
;---------------------------------------
;thanks zombieden and 可惜是个变态 for help
;---------------------------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "178791"
	}
	insert:
	{
		"OnMultiNewRound" "cmdCommandsay **Special thanks Zombieden for testing!**2-1"
		"OnMultiNewRound" "cmdCommandsay **Thanks Hentai % Tilgep for help!**4-1"
	}
}
;---------------------------------------
;Boost Chopper hp
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage2_PaperCity_ChopperHP_Multi"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Stage2_PaperCity_Chopper_HPAdd2570-1"
	}
	insert:
	{
		"OnStartTouch" "Stage2_PaperCity_Chopper_HPAdd3850-1"
	}
}
;---------------------------------------
;Boost MLG Duck hp
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage3_Teleporter_trigger_005"
		"classname" "trigger_teleport"
	}
	delete:
	{
		"OnEndTouch" "Stage3_MLG_Duck_HPAdd3150-1"
	}
	insert:
	{
		"OnEndTouch" "Stage3_MLG_Duck_HPAdd3450-1"
	}
}
;---------------------------------------
;Fixed too fast teleport afk
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage1_once"
		"classname" "trigger_once"
		"hammerid" "220301"
	}
	delete:
	{
		"OnTrigger" "Stage1_TeleportAFK_003Enable0.051"
		"OnTrigger" "Stage1_TeleportAFK_004Enable0.051"
	}
	insert:
	{
		"OnTrigger" "Stage1_TeleportAFK_003Enable3.051"
		"OnTrigger" "Stage1_TeleportAFK_004Enable3.051"
	}
}
;---------------------------------------
;Boost Black Dragon
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Weapon_Z_Fire_Hurt"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "!activatorIgniteLifetime80-1"
	}
	insert:
	{
		"OnStartTouch" "!activatorIgniteLifetime90-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Weapon_Z_Fire_Hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "1800"
		"damagecap" "1000"
	}
}
;---------------------------------------
;Map status
;---------------------------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "178791"
	}
	delete:
	{
		"OnMultiNewRound" "cmdCommandsay **Map Status: No Stripper!**0-1"
	}
	insert:
	{
		"OnMultiNewRound" "cmdCommandsay **Map Status: Stripper #1 enable!**0-1"
	}
}
