modify:
{
	match:
	{
		"targetname" "Item_Poison_Hurt"
		"classname" "trigger_hurt"
	}
	insert:
	{
                "OnStartTouch" "speedModifySpeed0.10.1-1"
                "OnStartTouch" "speedModifySpeed0.10.2-1"
                "OnStartTouch" "speedModifySpeed0.10.3-1"
                "OnStartTouch" "speedModifySpeed0.10.4-1"
                "OnStartTouch" "speedModifySpeed0.10.5-1"
                "OnStartTouch" "speedModifySpeed0.10.6-1"
                "OnStartTouch" "speedModifySpeed0.10.7-1"
                "OnStartTouch" "speedModifySpeed0.10.8-1"
                "OnStartTouch" "speedModifySpeed0.10.9-1"
                "OnStartTouch" "speedModifySpeed0.11.0-1"
                "OnStartTouch" "speedModifySpeed0.11.1-1"
                "OnStartTouch" "speedModifySpeed0.11.2-1"
                "OnStartTouch" "speedModifySpeed0.11.3-1"
                "OnStartTouch" "speedModifySpeed0.11.4-1"
                "OnStartTouch" "speedModifySpeed0.11.5-1"
                "OnStartTouch" "speedModifySpeed0.11.6-1"
                "OnStartTouch" "speedModifySpeed0.11.7-1"
                "OnStartTouch" "speedModifySpeed0.11.8-1"
                "OnStartTouch" "speedModifySpeed0.11.9-1"
                "OnStartTouch" "speedModifySpeed0.12.0-1"
		"OnStartTouch" "speedModifySpeed0.12.1-1"
		"OnStartTouch" "speedModifySpeed0.12.2-1"
		"OnStartTouch" "speedModifySpeed0.12.3-1"
		"OnStartTouch" "speedModifySpeed0.12.4-1"
                "OnStartTouch" "speedModifySpeed0.12.5-1"
		"OnStartTouch" "speedModifySpeed0.12.6-1"
		"OnStartTouch" "speedModifySpeed0.12.7-1"
		"OnStartTouch" "speedModifySpeed0.12.8-1"
		"OnStartTouch" "speedModifySpeed0.12.9-1"
		"OnStartTouch" "speedModifySpeed0.13.0-1"
                "OnStartTouch" "speedModifySpeed0.13.1-1"
                "OnStartTouch" "speedModifySpeed0.13.2-1"
                "OnStartTouch" "speedModifySpeed0.13.3-1"
                "OnStartTouch" "speedModifySpeed0.13.4-1"
		"OnStartTouch" "speedModifySpeed0.13.5-1"
                "OnStartTouch" "speedModifySpeed0.13.6-1"
                "OnStartTouch" "speedModifySpeed0.13.7-1"
                "OnStartTouch" "speedModifySpeed0.13.8-1"
                "OnStartTouch" "speedModifySpeed0.13.9-1"
                "OnStartTouch" "speedModifySpeed0.14.0-1"
                "OnStartTouch" "speedModifySpeed0.14.1-1"
                "OnStartTouch" "speedModifySpeed0.14.2-1"
                "OnStartTouch" "speedModifySpeed0.14.3-1"
                "OnStartTouch" "speedModifySpeed0.14.4-1"
                "OnStartTouch" "speedModifySpeed0.14.5-1"
                "OnStartTouch" "speedModifySpeed0.14.6-1"
                "OnStartTouch" "speedModifySpeed0.14.7-1"
                "OnStartTouch" "speedModifySpeed0.14.8-1"
                "OnStartTouch" "speedModifySpeed0.14.9-1"
                "OnStartTouch" "speedModifySpeed0.15.0-1"
		"OnStartTouch" "speedModifySpeed0.15.1-1"
		"OnStartTouch" "speedModifySpeed0.15.2-1"
		"OnStartTouch" "speedModifySpeed0.15.3-1"
		"OnStartTouch" "speedModifySpeed0.15.4-1"
                "OnStartTouch" "speedModifySpeed0.15.5-1"
		"OnStartTouch" "speedModifySpeed0.15.6-1"
		"OnStartTouch" "speedModifySpeed0.15.7-1"
		"OnStartTouch" "speedModifySpeed0.15.8-1"
		"OnStartTouch" "speedModifySpeed0.15.9-1"				
		"OnStartTouch" "speedModifySpeed1.036.0-1"                    
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Fire_Trigger"
		"classname" "trigger_hurt"
	}
	insert:
	{
                "OnStartTouch" "speedModifySpeed0.70.1-1"
                "OnStartTouch" "speedModifySpeed0.70.2-1"
                "OnStartTouch" "speedModifySpeed0.70.3-1"
                "OnStartTouch" "speedModifySpeed0.70.4-1"
                "OnStartTouch" "speedModifySpeed0.70.5-1"
                "OnStartTouch" "speedModifySpeed0.70.6-1"
                "OnStartTouch" "speedModifySpeed0.70.7-1"
                "OnStartTouch" "speedModifySpeed0.70.8-1"
                "OnStartTouch" "speedModifySpeed0.70.9-1"
                "OnStartTouch" "speedModifySpeed0.71.0-1"
                "OnStartTouch" "speedModifySpeed0.71.1-1"
                "OnStartTouch" "speedModifySpeed0.71.2-1"
                "OnStartTouch" "speedModifySpeed0.71.3-1"
                "OnStartTouch" "speedModifySpeed0.71.4-1"
                "OnStartTouch" "speedModifySpeed0.71.5-1"
                "OnStartTouch" "speedModifySpeed0.71.6-1"
                "OnStartTouch" "speedModifySpeed0.71.7-1"
                "OnStartTouch" "speedModifySpeed0.71.8-1"
                "OnStartTouch" "speedModifySpeed0.71.9-1"
                "OnStartTouch" "speedModifySpeed0.72.0-1"
		"OnStartTouch" "speedModifySpeed0.72.1-1"
		"OnStartTouch" "speedModifySpeed0.72.2-1"
		"OnStartTouch" "speedModifySpeed0.72.3-1"
		"OnStartTouch" "speedModifySpeed0.72.4-1"
                "OnStartTouch" "speedModifySpeed0.72.5-1"
		"OnStartTouch" "speedModifySpeed0.72.6-1"
		"OnStartTouch" "speedModifySpeed0.72.7-1"
		"OnStartTouch" "speedModifySpeed0.72.8-1"
		"OnStartTouch" "speedModifySpeed0.72.9-1"
		"OnStartTouch" "speedModifySpeed0.73.0-1"
                "OnStartTouch" "speedModifySpeed0.73.1-1"
                "OnStartTouch" "speedModifySpeed0.73.2-1"
                "OnStartTouch" "speedModifySpeed0.73.3-1"
                "OnStartTouch" "speedModifySpeed0.73.4-1"
		"OnStartTouch" "speedModifySpeed0.73.5-1"
                "OnStartTouch" "speedModifySpeed0.73.6-1"
                "OnStartTouch" "speedModifySpeed0.73.7-1"
                "OnStartTouch" "speedModifySpeed0.73.8-1"
                "OnStartTouch" "speedModifySpeed0.73.9-1"
                "OnStartTouch" "speedModifySpeed0.74.0-1"
                "OnStartTouch" "speedModifySpeed0.74.1-1"
                "OnStartTouch" "speedModifySpeed0.74.2-1"
                "OnStartTouch" "speedModifySpeed0.74.3-1"
                "OnStartTouch" "speedModifySpeed0.74.4-1"
                "OnStartTouch" "speedModifySpeed0.74.5-1"
                "OnStartTouch" "speedModifySpeed0.74.6-1"
                "OnStartTouch" "speedModifySpeed0.74.7-1"
                "OnStartTouch" "speedModifySpeed0.74.8-1"
                "OnStartTouch" "speedModifySpeed0.74.9-1"			
		"OnStartTouch" "speedModifySpeed1.035.0-1"	
}

//make torch light visible even when hide on
modify:
{
	match:
	{
		"targetname" "Item_Torch_Particle"
		"classname" "info_particle_system"
	}
	replace:
	{
       		"parentname" "Item_Torch_Light"
	}
}
modify:
{
	match:
	{
		"classname" "env_sprite"
	}
	replace:
	{
       		"rendermode" "5"
	}
}

;add stripper credits
modify:
{
    match:
    {
        "classname" "logic_auto"
        "hammerid" "2014230"
    }
    insert:
    {
        "OnMapSpawn" "Server,Command,say >>> Stripper made by Koen and memories <<<,2,1"
        "OnMapSpawn" "Server,Command,say >>> Please report any bugs to discord or koen/memories <<<,3,1"
    }
}

; Enable radar
modify:
{
    match:
    {
        "targetname" "Server"
        "classname" "point_servercommand"
    }
    insert:
    {
        "OnUser1" "!selfCommandsv_disable_radar 03.011"
    }
}

;add nade and bullet scores to medusa stage 5
add:
{
	"targetname" "scorenade"
	"points" "59"
	"classname" "game_score"
}
add:
{
	"targetname" "score1"
	"points" "1"
	"classname" "game_score"
}
add:
{
	"targetname" "score-10000"
	"points" "-10000"
	"classname" "game_score"
}
add:
{
	"targetname" "mboss_bulletrelay"
	"spawnflags" "2"
	"classname" "logic_relay"
	"OnTrigger" "score1,ApplyScore,,0,-1"
}
modify:
{
    match:
    {
	"targetname" "Level_Case"
	"classname" "logic_case"
    }
    insert:
    {
	"OnCase06" "Tele_Temple,AddOutput,OnStartTouch score-10000:ApplyScore::0:-1,0,1"
    }
}
modify:
{
    match:
    {
	"targetname" "medusa_hpadd_trigger"
	"classname" "trigger_multiple"
    }
    insert:
    {
	"OnStartTouch" "score-10000,ApplyScore,,0,-1"
    }
}

;more damage from nades (to make it like CSS asked by niceshot)
modify:
{
    match:
    {
	"targetname" "mboss_nadehurt_relay"
	"classname" "logic_relay"
    }
    delete:
    {
	"OnTrigger" "mboss_physhurtRunScriptCodeGrenadeDamage(50);0-1"
    }
    insert:
    {
	"OnTrigger" "mboss_physhurt,RunScriptCode,GrenadeDamage(60);,0,-1"
    }
}

;make zombies invicible on medusa fight
add:
{
    "model" "*312"
    "targetname" "inviclvl5"
    "origin" "-3709 6513 6958"
    "StartDisabled" "1"
    "filtername" "zombies"
    "spawnflags" "1"
    "classname" "trigger_multiple"
    "OnStartTouch" "!activator,SetDamageFilter,Filter_Nada,0,-1"
    "OnEndTouchAll" "!activator,SetDamageFilter,,0,-1"
}
modify:
{
    match:
    {
        "targetname" "Level_Case"
        "classname" "logic_case"
    }
    insert:
    {
        "OnCase01" "inviclvl5,Kill,,1,1"
        "OnCase02" "inviclvl5,Kill,,1,1"
        "OnCase03" "inviclvl5,Kill,,1,1"
        "OnCase04" "inviclvl5,Kill,,1,1"
        "OnCase05" "inviclvl5,Kill,,1,1"
        "OnCase06" "inviclvl5,Enable,,15,1"
    }
}
modify:
{
    match:
    {
        "targetname" "mboss_physhurt"
        "classname" "func_physbox"
    }
    insert:
    {
        "OnUser1" "inviclvl5,Kill,,49.9,1"
        "OnUser1" "Tele_Temple,AddOutput,OnStartTouch !activator:SetDamageFilter::0:-1,49.9,1"
    }
}
modify:
{
    match:
    {
        "targetname" "RoomFinal_Tp0"
        "classname" "trigger_teleport"
    }
    insert:
    {
        "OnStartTouch" "!activator,SetDamageFilter,,0,-1"
    }
}

modify:
{
	match:
	{
		"classname" "weapon_elite"
	}
	insert:
	{
		"OnPlayerPickup" "load_scriptRunscriptcodeSetNewOwner();0-1"
	}
}

add:
{
    "targetname" "load_script"
    "classname" "logic_relay"
    "vscripts" "why/hide_owner.nut"
    connections
    {
    	"OnSpawn" "!selfRunscriptCodeClearPlayerHide()0-1"
    	"OnSpawn" "!selfRunscriptCodeAUTO_HIDE=true;HIDE_ALPHA=20;0-1"
    }
}

modify:
{
    match:
    {
	"targetname" "Level_Case"
	"classname" "logic_case"
    }
    insert:
    {
		"OnCase02" "ServerCommandsm_rcon sm_flash_limit 001"
		"OnCase03" "ServerCommandsm_rcon sm_flash_limit 001"
		"OnCase04" "ServerCommandsm_rcon sm_flash_limit 001"
		"OnCase05" "ServerCommandsm_rcon sm_flash_limit 001"
		"OnCase06" "ServerCommandsm_rcon sm_flash_limit 101"
		"OnCase02" "ServerCommandsm_rcon zr_class_modify zombies health 600001"
		"OnCase03" "ServerCommandsm_rcon zr_class_modify zombies health 600001"
		"OnCase04" "ServerCommandsm_rcon zr_class_modify zombies health 600001"
		"OnCase05" "ServerCommandsm_rcon zr_class_modify zombies health 3000001"
		"OnCase06" "ServerCommandsm_rcon zr_class_modify zombies health 600001"
		"OnCase06" "ServerCommandsm_rcon sm_g_cv_Money 1200001"
		"OnCase02" "ServerCommandsm_rcon zr_speed_delay 2501"
		"OnCase03" "ServerCommandsm_rcon zr_speed_delay 2501"
		"OnCase04" "ServerCommandsm_rcon zr_speed_delay 2501"
		"OnCase05" "ServerCommandsm_rcon zr_speed_delay 2501"
		"OnCase06" "ServerCommandsm_rcon zr_speed_delay 3501"
    }
}
